table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-collapse: collapse;
    padding: 0px;
    
}

th {
    width: 300px;
}

.Userboard__userrow  > th {
    /* height: 75px; */
    font-weight: 400;
}

.Userboard__usercolumn--alignleft {
    text-align: left;
    padding-left: 12px;
}


.Userboard {
    background-color: rgb(113, 182, 187);
}

.Userboard__button{
    background-color: rgb(160, 19, 85);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.2s;
}

.Userboard__button:hover {
    border-radius: 8px;
    transform: scale(1.25);
}

.Userboard__button:active {
    border-radius: 2px;
    transform: scale(0.9);
}

.Userboard__user--hidden {
    display: none;
}

.Userboard__user--visible {
    display: block;
    background-color: rgb(198, 227, 255);
}

.Userboard__userthumbnail {
    width: 100%;
}