table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    width: 300px;
}

.Userboard__userrow  > th {
    height: 75px;
}


.Userboard {
    background-color: brown;
}

.Userboard__button{
    background-color: darkolivegreen;
    border-radius: 4px;
    transition: all 0.2s;
}

.Userboard__button:hover {
    border-radius: 8px;
    transform: scale(1.25);
}

.Userboard__button:active {
    border-radius: 2px;
    transform: scale(0.9);
}

.Userboard__user--hidden {
    display: none;
}

.Userboard__user--visible {
    display: block;
}

.Userboard__userthumbnail {
    width: 100%;
}